body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #121212; /* Ensure the body matches the dark theme */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
